.metrics-page {
    background-image: url("../assets/background.gif");
}

.metrics-container {
    border-radius: 20px;
    background-color: rgb(0, 0, 0);
    color: aliceblue;
    margin-left: 70px;
    margin-right: 70px;
    border-style: solid;
    border-color: aliceblue;
}

.metrics-title-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
.metrics-btn {
    margin-left: 20px;
}
.thorough-prs {
    font-family: 'Poppins', sans-serif;
}
.thorough-pr-metric-title {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 0px;
}
