.metrics-page {
  background-image: url("../assets/background.gif");
}

.metrics-container {
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  margin-left: 70px;
  margin-right: 70px;
  padding: 20px;
  border-style: solid;
  border-color: aliceblue;
}

.chart-pair-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 100%;
  margin: 10px 0;
}

.metrics-title-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.metrics-btn {
  margin-left: 20px;
}
.thorough-prs {
  font-family: "Poppins", sans-serif;
}
.small-pie-chart {
  width: 320px;
  height: auto;
  border-radius: 20px;
  border: solid;
  margin: 1%;
  padding: 10px;
  transition: all 0.5s ease;
}
.small-pie-chart:hover {
  background-color: rgba(139, 205, 255, 0.593);
  transition: all 0.5s ease;
}
.thorough-pr-metric-title {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 0px;
}

.avg-time-to-merge {
  height: auto;
  width: 600px;
  border: solid;
  padding: 20px;
  border-radius: 20px;
}

.lead-time-container {
  border: solid;
  border-radius: 20px;
}

.impact-charts-container {
  display: flex;
  gap: 30px;
  justify-content: center;
  flex-wrap: wrap;
}

.impact-chart {
  width: 500px;
  height: auto;
  border-radius: 20px;
  border: solid;
  padding: 20px;
  transition: all 0.5s ease;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
}

.deployment-title {
  text-align: center;
}
